{% extends 'base.html' %} {% block content %}
<div class="credentials">
  <h3>Sign in</h3>
  <form method="post" class="credentials">
    {{ form.hidden_tag() }}
    {{ form.username }}
    <div class="password-field">
      {{ form.password }}
      <button type="button" onclick="togglePasswordVisibility()" class="toggle-password">
        <sl-icon name="eye" id="toggleIcon"></sl-icon>
      </button>
    </div>
    {{ form.submit }}
  </form>
  <a href="{{url_for('register')}}">create account</a>
  {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
  {% endif %}
</div>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}