.pixelated {
    image-rendering: pixelated;
    }
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
.background-div {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #37424f; 
    z-index: 0; 
    }
.game-canvas-div {
    margin: 0;
    padding: 0;
    transform-origin: top left;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: transform 1s ease;
    }
.game-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    image-rendering: pixelated;
    }
.color-picker-container {
    z-index: 1000; 
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #37424f;
    border: 1px solid #252b32;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 4px;
    max-width: 300px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.color-picker-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); 
}

    .color-picker {
    appearance: none;
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    border: rgb(62, 68, 75);
    border-radius: 100%;
    cursor: pointer;
    outline: none;
}
.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
.color-picker::-moz-color-swatch-wrapper {
    padding: 0;
}
.color-picker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}
.username-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #37424f;
    border: 1px solid #252b32;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    max-width: 300px;
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
    color: #333; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.username-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); 
}
.username-container input[type="text"] {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Courier New', 'Lucida Console', Monaco, Consolas, monospace;
    font-weight: bold;
}
.cords-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000; 

    padding: 5px;
    background-color: rgba(8, 9, 20, 0.2);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.75);
}
.cordsclass {
    margin: 0;
    font-size: 12px;
    font-family: 'Courier New', 'Lucida Console', Monaco, Consolas, monospace;
    font-weight: bold;
}
@keyframes flashRed {
    0% { border-color: red; }
    100% { border-color: transparent; }
}
.flash-red {
    animation: flashRed 1s linear 0s 1;
    border: 3px solid transparent;
}